.margin_top {

    margin-top: 20px;
}

.text_center {

    text-align: center;
}



$ayuda: (

    1: #f2f3eb,
    2: #c5acac,
    3: #cfd5b9,
    4: #e3cccc,
    5: #b3c398,
);

@each $preguntas, $color in $ayuda {

    .background_preg#{$preguntas} {

        background-color: $color;
    }

}

$color: white;

@mixin index ($background-color, $font-family){
    background-color: $background-color;
    font-family: $font-family;
    color: $color;
    
}

.index-green {
    @include index(#b3c398, verdana)
}

.index-grey {
    @include index(rgba(128, 128, 128, 0.39), verdana)
}

.container-index {

    display: flex;
    align-items: center;
    justify-content: center;
}

.animado-index {

    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.animado-ayuda {

    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-bottom: 100%;
        width: 300%;
    }

    to {
        margin-bottom: 0%;
        width: 100%;
    }
}

.border-radius {

    border-radius: 150px;
    width: 200px;
    height: 200px;
}

.border {
    width: 250px;
    height: 200px;

}

.text-green {

    color: #b3c398;
}

.text-bold {

    font-weight: bold;
}



.menu a span:first-child {
    display: inline-block;
    padding: 10px;
  }
  
.font-Helvetica {
    font-family: Helvetica
  
}

@font-face{
    font-family: finland;
    src: url(../Fuentes/Finland\ .ttf.ttf);
}

.font-title {

    font-family: finland;
    font-size:xx-large;
    font-weight: bold;
}

.background-header {

    background-image: url(../img/index/San_Rafael.jpg);
}

.float-l {

    float: left;

}

.float-r {

    float: right;
}


.background {

    background-color: #e6d3c7;
   
}

.margin {

    margin-left: 100px;
    margin-right: 100px;
}


.text_rigth {

    justify-content: right;
}

.background_white {

    background-color: rgba(245, 245, 245, 0.288);
}

.center {

    justify-content: center;
    align-items: center;
}

.margin_contacto {

    margin: 100px 200px 100px 200px;
}

.background_form {

    background-color: #f4f3efb0;
}


.text-black {

    color: black;
}

.padding-left {

    padding-left: 100px;
}

@media (max-width:500px) {
    .padding-left {
        padding-left: 0px;
        }
}

.text-header {

    font-size: x-large;
    color: #9e7d6a;
}

.margin-top2 {

    margin-top: 70px;
}

.text-navbar {

    color: black;
}

.text-navbar:hover {

    background-color: #b3c398a1;
}

