

.background {

    background-color: #e6d3c7;
   
}

.margin {

    margin-left: 100px;
    margin-right: 100px;
}


.text_rigth {

    justify-content: right;
}

.background_white {

    background-color: rgba(245, 245, 245, 0.288);
}

.center {

    justify-content: center;
    align-items: center;
}

.margin_contacto {

    margin: 100px 200px 100px 200px;
}

.background_form {

    background-color: #f4f3efb0;
}


.text-black {

    color: black;
}

.padding-left {

    padding-left: 100px;
}

.text-header {

    font-size: x-large;
    color: #9e7d6a;
}

.margin-top2 {

    margin-top: 50px;
}
